body {
    background-color: #FFFFFF;
}
.home-header {
    background-color: #212121;
    z-index: 999;
}
.header-button {
    color: #ffd700;
    border: #ffd700 2px solid;
    padding: 2px 25px 2px 25px;
}
.header-button:hover {
    color: #212121;
    background-color: #ffd700;
}
.header-navbar {
    align-items: center;
}
.header-link {
    color: #FFFFFF;
    text-decoration: underline;
}
.header-link:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.header-logo {
    width: 30%;
    height: 30%;
}
.header-logo-container {
    padding: 0;
}
.main-content-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
.content-splitter-left {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.main-logo {
    transition: 0.1s;
    animation: fade-in-left 1.5s ease 0.5s;
    animation-fill-mode: both;
}
.content-splitter-right {
    font-family: 'Big Shoulders Display';
    width: 50%;
    height: 100vh;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #212121;
}
.content-splitter-right h1 {
    padding: 0 5% 0 5%;
    font-size: 10em;
    transition: 0.1s;
    animation: fade-in-right 1.5s ease 0.5s;
    animation-fill-mode: both;
}
.product-content-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
.product-splitter-text {
    font-family: 'Big Shoulders Display';
    width: 50%;
    height: 100vh;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #212121;
}
.product-splitter-text p {
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: normal;
    color: rgba(0,0,0,0.81);
}
.product-splitter-text h2 {
    font-size: 6em;
}
.product-splitter-img {
    width: 50%;
    background-color: #FFFFFF;
}
.highlighted-i {
    font-family: 'Big Shoulders Display ExtraBold';
    font-style: italic;
    margin: 0 18px 0 3px;
    color: #ffd700;
}
.highlighted-dash {
    font-family: 'Roboto';
    color: #ffd700;
}
.product-splitter-img {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img {
    width: 75%;
    height: 75%;
}
.product-splitter-machines {
    font-family: 'Roboto';
    width: 50%;
    height: 70vh;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #212121;
}
.product-splitter-machines h2 {
    font-family: 'Big Shoulders Display';
    font-size: 5em;
    margin: 40px 0 40px 0;
}
.product-splitter-machines-container {
    display: flex;
    justify-content: center;
}
.product-splitter-machines-container-horizontal {
    text-align: center;
}
.product-splitter-machines-container-horizontal h3 {
    font-size: 1.8em;
    margin: 0 auto;
    width: 90%;
    height: 200%;
}
.product-content-container-products {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
}
.product-splitter-beans {
    font-family: 'Roboto';
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #212121;
    background-color: #FFFFFF;
}
.product-splitter-beans h2 {
    font-family: 'Big Shoulders Display';
    font-size: 5em;
    margin: 40px 0 40px 0;
}
.product-splitter-beans-container {
    display: flex;
    justify-content: space-around;
}
.product-splitter-beans-container-vertical {
    width: 45%;
}
.privacy-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.privacy-textblock {
    width: 80%;
}
.beans-product {
    text-align: center;
    height: 55%;
}
.beans-product p {
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: normal;
    color: #444444;
    letter-spacing: 1px;
}
.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
}
.about-us-container h2 {
    font-family: 'Big Shoulders Display';
    margin: 40px 0 40px 0;
    font-size: 5em;
    color: #212121;
}
.about-us-container p {
    width: 90%;
    font-size: 1.8em;
    color: #212121;
}
.centered-button-container {
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.centered-button {
    width: 350px;
    height: 45px;
    background-color: #ffd700;
    border-radius: 30px;
    border: none;
    color: #212121;
    font-family: 'Roboto';
    font-size: 1.8em;
}
.centered-button:hover {
    cursor: pointer;
    color: #212121;
    background-color: #FFE55A;
}
/* ================================================================== */
/*                            dashboard                               */
/* ================================================================== */
.logout-button {
    color: #ffd700;
    border: #ffd700 2px solid;
    padding: 2px 25px 2px 25px;
    background-color: #212121;
    border-radius: .25rem;
}
.logout-button:hover {
    color: #212121;
    background-color: #ffd700;
    cursor: pointer;
}
main {
    height: 90vh;
    display: flex;
}
.dashboard-content {
    width: 87.5%;
    margin: 0 0 0 12.5%;
}
.sidebar-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 65px 0 0 0;
    background-color: #212121;
    color: #FFFFFF;
    height: 100%;
    width: 12.5%;
    text-align: center;
}
.dashboard-link {
    font-size: 2em;
    color: white;
    text-decoration: underline;
}
.dashboard-link:hover {
    text-decoration: none;
    color: white;
}
.yellow-splitter-line {
    width: 100%;
    background-color: #ffd700;
    height: 5px;
}
.dashboard-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.dashboard-title {
    text-align: center;
}
.dashboard-title h2 {
    font-size: 3em;
    padding: 10px 100px 10px 100px;
    border-bottom: #212121 3px solid;
}
.title-highlighted-dash {
    color: #ffd700;
}
.dashboard-list {
    display: flex;
    justify-content: center;
}
.dashboard-list-item-link {
    width: 90%;
    border: #212121 solid 2px;
    border-radius: .25rem;
    padding: 10px;
    color: #212121;
    font-size: 1.2em;
}
.dashboard-list-item-link:hover {
    background-color: #212121;
    color: #FFFFFF;
}
.dashboard-detail-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.dashboard-detail-wrapper {
    width: 70%;
}
.dashboard-detail-wrapper-splitter {
    display: flex;
    justify-content: space-between;
}
.dashboard-detail-wrapper-splitter-item {
    width: 45%;
}
.dashboard-detail-wrapper-splitter-item h4 {
    text-align: center;
}
.dashboard-detail-wrapper-splitter-item-data {
    display: flex;
    justify-content: space-between;
}
.dashboard-centered-button-container {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.cross-check {
    width: 8%;
    height: 8%;
}
/* ================================================================== */
/*                              fonts                                 */
/* ================================================================== */
@font-face {
    font-family: 'Big Shoulders Display';
    src: url('../storage/fonts/BigShouldersDisplay-Regular.woff2') format('woff2'),
    url('../storage/fonts/BigShouldersDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Big Shoulders Display ExtraBold';
    src: url('../storage/fonts/BigShouldersDisplay-ExtraBold.woff2') format('woff2'),
    url('../storage/fonts/BigShouldersDisplay-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
/* ================================================================== */
/*                              animations                            */
/* ================================================================== */
.template {
    transition: 0.1s;
    animation: fade-in-text 2s ease;
    animation-fill-mode: both;
}
@keyframes fade-in-left{
    0%{
        transform: rotate(0deg) scale(1) translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg) scale(1) translateX(0);
        opacity: 1;
    }
}
@keyframes fade-in-right{
    0%{
        transform: rotate(0deg) scale(1) translateX(200px);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg) scale(1) translateX(0);
        opacity: 1;
    }
}
/* ================================================================== */
/*                            cookie consent                          */
/* ================================================================== */
.js-cookie-consent {
    font-family: 'Roboto';
    color: white;
    position: absolute;
    top: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 65px;
    z-index: 9999;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}
.js-cookie-consent-agree {
    color: #ffd700;
    border: #ffd700 2px solid;
    padding: 2px 25px 2px 25px;
    background-color: #212121;
    border-radius: .25rem;
    margin-left: 10px;
}
.js-cookie-consent-agree:hover {
    cursor: pointer;
    color: #212121;
    background-color: #ffd700;
}
.js-cookie-consent-agree:focus, .privacy-button:focus, .centered-button:focus, .logout-button:focus {
    outline: 0;
}
.cookie-consent__message {
    display: flex;
}
.privacy-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 0 5px 5px;
    color: #3490dc;
    text-decoration: underline;
}
.privacy-button:hover {
    cursor: pointer;
    text-decoration: none;
    color: #2d73b1;
}
/* ================================================================== */
/*                              footer                                */
/* ================================================================== */
.footer {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    background-color: #212121;
}
.footer-container {
    margin: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.footer-container-horizontal {
     display: flex;
     justify-content: space-between;
     color: #F5F5F5;
}
.footer-container-horizontal form input {
    margin-top: 10px;
}
.footer-container-horizontal p, .footer-container-horizontal a {
    margin: 10px 0 0 0;
}
/* ================================================================== */
/*                               Finance                              */
/* ================================================================== */
.form-container {
    display: flex;
    justify-content: center;
}
.form-container-wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
}
.finance-customer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.finance-customer-form-checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.finance-customer-form-textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* ================================================================== */
/*                               Form                                 */
/* ================================================================== */
.form-textarea {
    border: #212121 1px solid;
    border-radius: .25rem;
    margin-bottom: 20px;
}
.form-label {
    font-weight: bolder;
    font-size: 1.1em;
}
.form-date {
    width: 30%;
    height: 40px;
    padding: 5px 15px 5px 15px;
    border: #212121 solid 1px;
    border-radius: 30px;
    margin: 0 0 10px 0;
}
.form-select {
    width: 30%;
    height: 40px;
    padding: 5px 15px 5px 15px;
    border: #212121 solid 1px;
    border-radius: 30px;
    margin: 0 0 10px 0;
}
.form-select:hover, .form-date:hover {
    cursor: pointer;
    text-decoration: none;
}
.form-splitter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.form-splitter-item {
    width: 48%;
}
.form-splitter-item h2 {
    text-align: center;
    font-size: 1.4em;
}
.form-text {
    border: #212121 1px solid;
    padding: 10px;
    border-radius: .25rem;
    margin-bottom: 20px;
}
.list-paginate {
    display: flex;
    justify-content: center;
}
.page-link {
    background-color: #212121;
    color: #ffd700;
}
.page-link:hover {
    background-color: #454545;
    color: #ffd700;
}
.page-item.active .page-link {
    background-color: #ffd700;
    border-color: #ffd700;
    color: #212121;
}
.page-item.disabled .page-link {
    background-color: #454545;
    color: #ffd700;
}
/* ================================================================== */
/*                               Maintenance                          */
/* ================================================================== */
.maintenance-calendar-form-label-split {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* ================================================================== */
/*                            quotation content                       */
/* ================================================================== */
.contact{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 25px;
    margin-bottom: 2.5%;
}
.contactItem{
    display: flex;
    flex-direction: column;
}
/*.contactItem input{*/
    /*max-width: 250px;*/
/*}*/
.orders{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 25px;
}
.orderitem{
    display: flex;
    justify-content: space-between;
}
.orderitem input{
    max-width: 50px;
}
/* ================================================================== */
/*                            supplies content                        */
/* ================================================================== */
.in-stock{
    color: #00cc66;
}
.not-in-stock{
    color:  #ff3300;
}
.products{
    /*display: grid;*/
    /*grid-template-columns: 75% 25%;*/
    /*grid-template-rows: auto;*/
}
.product {
    /*display: flex;*/
    display: grid;
    grid-template-columns: 75% 25%;
    /*grid-template-rows: auto;*/
    border: solid 1px #000;
}
.supply-table{
    width: inherit;
}
.supply-table td{
    padding: 2.5% 10% 2.5% 0;
    border-bottom: 1px solid #000;
}
.supply-table th{
    padding: 0;
}
.product p{
    margin: 0;
}
/* ================================================================== */
/*                            Responsive                              */
/* ================================================================== */
@media screen and (max-width: 1400px) {
    .dashboard-link {
        font-size: 1em;
    }
}